<nav id="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon sidebar-header">
            <img class="logo" src="/Img/Design.png" alt="Analytics Pro" width="60px">
        </div>
        <div class="sidebar-brand-text mx-3"><%- APP %></div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">
    <div class="side-menu">
        <li class="nav-item">
            <a href="/" class="nav-link link">
                <i class="fi fi-rr-home icone"></i>
                <span class="text-link">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Products" class="nav-link link">
                <i class="fi fi-rr-box-open icone"></i>
                <span class="text-link">Produits</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Unite" class="nav-link link">
                <i class="fi fi-rr-department icone"></i>
                <span class="text-link">Unités</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/Analyse" class="nav-link link">
                <i class="fi fi-rr-chart-pie-alt icone"></i>
                <span class="text-link">Feedback</span>
            </a>
        </li>
    </div>
</nav>